div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-12
      | Age: {{tricker.age}}
    .col-md-12
      | Fitness: {{tricker.fitness}}
    .col-md-12
      | Health: {{health}}
    .col-md-12
      | Next health point in: {{nextHealthPointIn}}
    .col-md-12
      | Health point refresh time: {{healthPointRefreshTime}}


  .row(ng-class='{hide: isResting}')

    br
    .col-md-12
      | Percentage:
      input(ng-model='runSpend', type='text')
    .col-md-12
      button.btn.btn-primary(ng-click='run()') Run
