div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-12
      | Age: {{tricker.model.age}}
    .col-md-12
      | Warmth: {{tricker.model.warmth}}
    .col-md-12
      | Warmth Degeneration in: {{tricker.model.nextWarmthPointIn}}
    .col-md-12
      | Fitness: {{tricker.model.fitness}}
    .col-md-12
      | Fitness Degeneration in: {{tricker.model.nextFitnessPointIn}}
    .col-md-12
      | Energy: {{tricker.model.energy}}
    .col-md-12
      | Energy Regeneration in: {{tricker.model.nextEnergyPointIn}}
    .col-md-12
      | Energy Regeneration time: {{tricker.model.energyIncrementLength}}

  hr

  .row
    .col-md-2
      button.btn.btn-primary(ng-click='longRun()') Long Run 90

    .col-md-2
      button.btn.btn-primary(ng-click='mediumRun()') Medium Run 40

    .col-md-2
      button.btn.btn-primary(ng-click='shortRun()') Short Run 20

  hr

  .row
    .col-md-2
      button.btn.btn-primary(ng-click='warmUp()') Warm Up 10

  hr

  .row
    .col-md-2
      button.btn.btn-primary(ng-click='maxHook()') Hook 100

    .col-md-2
      button.btn.btn-primary(ng-click='midHook()') Hook 50

    .col-md-2
      button.btn.btn-primary(ng-click='minHook()') Hook 10

  hr

  .row
    .col-md-12
      button.btn.btn-primary(ng-click='reset()') Reset
